# OS
.DS_Store

# Logs
*.log
logs/

# Environment
.env
.env.*

# Node / React
node_modules/
dist/
build/
.npm/

# .NET
bin/
obj/
*.user
*.suo
*.pdb

# IDE
.idea/
.vscode/

# Coverage / reports
coverage/
TestResults/
